<h3 class="contacttitle">About Us!</h3>
<div class="aboutbody">
	<p>Are you cold all the time? Are you frequently improperly attired for your icy home or office? Do you struggle with embarassing goosebumps and inappropriate nipple hardness? Snugglez2Go is here to help!</p><br>

	<p>Snugglez2Go provides high-quality Snugglez on demand, when and where you need them! Simply order an exclusive microfleece Snugglez blankoat by accessing our website from your computer or mobile device and wait for the warmth to envlope you like a thousand Guy Fieris giving you a hug in a vat of Guy Fieri's pateneted Super Kickin' Spicy Hot Finger Lickin' Chicken Dippin' Sweet and Sour Donkey Sauce.</p><br>

	<ul>Snugglez2Go is committed to bringing you the warmth and style you desire, whatever your location!
		<li>
			Home!
			Work!
			School!
			Out on the Town!
		</li>
	</ul><br>

	<p>To order your Snugglez, please visit our "Contact" page and submit an email. Yes, there are probably better mechanisms for order fulfillment and distribution, like an app or something, but we like to kick it old school. We try to check our email several times a day, so maybe you'll get lucky and place your order right before one of those times and will be swaddled in comfort in approximately the amount of time it takes you to solve the NY Times Sunday Crossword.</p><br>

	<p>PLEASE NOTE: Snugglez2Go is not affiliated with Snuggie brand "slankets". We produce and deliver higher-quality blankoats. Do not give in to the powerful big Snuggie lobby in Washington.</p>

</div>
