<div class="bodybody">
	<h3 class="contacttitle">Contact Us!</h3>
	<%# form uses POST method and submits to action of .contact %>
	<form id="contactform" method="POST">
		<input type="text" name="email" placeholder="Email" /><br>
		<input type="text" name="subject" placeholder="Subject" /><br>
		<textarea type="text" name="body" id="commentssection" placeholder="Comments or Questions"></textarea><br>
		<input type="submit" name="submit">
	</form>
</div>
