<h3 class="contacttitle">Frequently Asked Questions</h3>
<div class="questionsbody"><br>
	<p><em>Why Snugglez2Go?</em></p>
	<p>Snugglez2Go is THE orignial and premeire warmth delivery service. We pride ourselves on staying true to our mission of helping people look stylish while protecting them from the harshness and discomfort associated with chilly environments. We are happy to manufacture and delivrer high-quality products to the people that need them.</p><br>
	<p><em>Is it true that a Slanket/Blankoat is a lifestyle, not a fashion choice?</em></p>
	<p>Snugglez2Go offers wearers a comfortable yet classy way to stay warm while exhibiting personal style. The garment's loose draping offers the wearer a stylish cacoon in which to hide their pasty, bloated bodies while offering the maximum in warmth and comfort. Snugglez2Go customers live a life of personal serenity and comfort, and unparalleled freedom of movement. </p><br>
	<p><em>What if my Snugglez2Go product does not fit??</em></p>
	<p>Part of the beauty of our blankoats is that they fit a large, large range of body types. However, if you need to return your Snugglez2Go product for any reason, go fuck yourself.<p><br>
	<p><em>What if my Snugglez2Go product does not fit?</em></p>
	<p>Part of the beauty of our blankoats is that they fit a large, large range of body types. However, if you need to return your Snugglez2Go product for any reason, go fuck yourself.<p><br>
	<p><em>Are Snugglez2Go products produced in facilities with ethical working conditions? Are Snugglez2Go products tested on animals?</em></p>
	<p>Products produced by Snugglez2Go are hand-produced by your grandma in her rocking chair by the fire. She is payed a living wage, gets to watch unlimited <em>CSI: Miami</em> and is seems generally happy about the her new job. Our products are tested on animals, but trust us, it's adorable.<p><br>
</div>