<div class="homecontainer">
  <h1>SNUGGLES 2 GO</h1>
  <div class="homearticle">
    <img src="http://yesiamcheap.com/wordpress/wp-content/uploads/2010/10/SnuggieDog1.jpg">
    <p>It good.</p>
  </div>
  <div class="homearticle">
    <img src="http://i68.photobucket.com/albums/i9/jgascot/personal/bk.jpg">
    <p>It delicious.</p>
  </div>
  <div class="homearticle">
    <img src="https://az616578.vo.msecnd.net/files/responsive/cover/main/desktop/2016/11/15/636147664094016881-1091771186_Screen%20Shot%202016-11-14%20at%207.26.31%20PM.png">
    <p>It keep warm.</p>
  </div>
  <p class="door">IT DELIVERED RIGHT TO YOUR DOOR!</p>
</div>
