<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/default.css">
    <title>Snuggiez2Go</title>
  </head>
  <body>
    <div id="logo">
      <img id="logopic" src="https://cdn.shopify.com/s/files/1/1184/2826/t/4/assets/logo.png?17391922589745312443">
    </div>
    <nav>
      <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/contact">CONTACT</a></li>
        <li><a href="/faq">FAQ</a></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
