* {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

}
  body {
  background-image: linear-gradient(90deg, pink, aquamarine);
  background-size: cover;
  margin: 0;
  padding: 0;
}
#logo {
  background-image: linear-gradient(90deg, darksalmon, aliceblue);
  background-size: cover;
  max-height: 10%;
  text-align: right;
  width: 100%;
  position: relative;
}
#logopic {
  max-width: 30%;
}
#car {
  max-width: 3%;
  position: absolute;
  bottom: 0;
}
nav {
  display: inline-block;
  overflow: hidden;
  display: fixed;
  width: 100%;
  background-color: lavender;
  position: relative;
  opacity: 0.8;
  text-align: center;
}
nav ul {
  margin: 0;
}
nav ul li {
  display: inline-block;
  width: 20%;
  font-size: 30px;
  padding: 10px;
}
nav ul li a:link {
  color: pink;
}
nav ul li a:visited {
  color: pink;
}
#contactform {
  text-align: center;
}
#contactform input {
  width: 50%;
  background-color: pink;
}
.contacttitle {
  text-align: center;
  color: coral;
  text-shadow: 5px 5px 5px lightsalmon;
}
#commentssection {
  height: 300px;
  vertical-align: top;
  width: 50%;
  resize: none;
  background-color: pink;
}
#logopic:hover, .faqtext:hover {
  background-image: url('http://dl.glitter-graphics.com/pub/707/707566g91mlkt7sm.gif');
  background-size: cover;
}
.homecontainer {
  width: 70%;
  margin: 50px auto;
  text-align: center;
  border: 1px solid palegoldenrod;
  background-color: cyan;
}
textarea {
  font-size: 20px;
  color: white;
}
.homecontainer img {
  height: 200px;
  width: 200px;
  padding-top: 20px;
}
.homecontainer h1, .homecontainer .homearticle {
  margin-bottom: 10px;
  color: black
}
.homecontainer h1, .door {
  color: hotpink;
  text-shadow: 2px 2px 2px pink;
}
.homecontainer .homearticle {
  margin: 15px;
  display: inline-block;
  text-align: center;
  width: 300px;
  height: 300px;
  max-width: 75%;
  border: 1px solid cyan;
  background-image: linear-gradient(45deg, #00ffc8, #ffc8ff);
  box-shadow: 2px 2px 2px green;
}
nav ul li:hover, .homearticle:hover, textarea:hover {
  background-image: url('https://s-media-cache-ak0.pinimg.com/736x/91/a4/da/91a4dabf2bb28d25f984eded28301cf0--pink-fabric-girly-things.jpg');
  background-size: cover;
  text-shadow: 5px 0px 5px red;
}
.questionsbody {
  width: 50%;
  margin: auto;
}
.faq {
  text-align: center;
}
